html {
  font-family: Ubuntu, sans-serif;
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

body {
  box-sizing: border-box;
}
.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
}
article {
  padding-top: 80px;
}
.article-title {
  max-width: 596px;
  margin-bottom: 40px;
  font-family: Oswald;
  font-weight: 600;
  font-size: 48px;
  line-height: 115%;
  text-transform: uppercase;
  color: #2c332f;
}
.article-text1 {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #535755;
}
.article-text2 {
  margin-bottom: 80px;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #535755;
}
.img {
  width: 1250px;
  height: 512px;
  margin-bottom: 80px;
}
.article-h2 {
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 36px;
  line-height: 115%;
  text-transform: uppercase;
  color: #2c332f;
}
li::marker {
  color: #3596ed;
}
.article-text3 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #535755;
}
.article-list {
  margin-bottom: 80px;
  margin-top: 0px;
  padding-left: 14px;
}
.article-item {
  margin-bottom: 12px;
}
.video {
  margin-bottom: 40px;
  width: 1250px;
  height: 686px;
}
.article-text4 {
  padding-bottom: 120px;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #535755;
}
