.page {
  box-sizing: border-box;
  font-family: var(--font-family);
  font-weight: 400;
  overflow-x: hidden;
}

.page__body {
  background: linear-gradient(313deg, #022335 0%, #043a41 100%);
  background-size: cover;
}

.container {
  max-width: 1200px;
  height: auto;
  margin-inline: auto;
}

.section-1 {
  padding-top: 155px;
}

.section-2 {
  margin-bottom: 124px;
}
