:root {
  /* font-family */

  --font-family: "AvenirNextCyr", sans-serif;

  /* colors */

  --maintext-color: linear-gradient(180deg, #fff 31.75%, #1a3031 100%);

  /* container */

  --container-width: 1200px;
  --container-padding: 15px;
}
