.header {
  margin-top: 15px;
}

@media (width <= 360px) {
  .header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70px;
    padding: 0 15px;
  }
}
@media (width <= 360px) {
  .header__container {
    justify-content: center;
    max-width: 500px;
    margin-left: 21%;
  }
  .header {
    min-width: 360px;
    height: 875px;
  }

  .header__logo {
    display: none;
    width: 195px;
    height: 58px;
  }

  .header__phone {
    min-width: 330px;
    min-height: 104px;
    box-shadow: 0 4px 34px 0 rgba(0, 0, 0, 0.35);
    background: linear-gradient(313deg, #0b4d69 0%, #104c54 100%);
    border-radius: 0 0 0 22px;
  }
  .header__phone-icon {
    margin-right: 5px;
  }
}

.header__logo {
  max-width: 287px;
  max-height: 86px;
}

.header__element-1 {
  position: relative;
}

.header__element-1::before {
  content: url(../../Elements/Ellipse\ 14.png);
  position: absolute;
  z-index: -1;
  width: 438px;
  height: 438px;
  left: -50%;
  bottom: -170%;
}

@media (width <= 360px) {
  .header__element-1::before {
    display: none;
  }
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  height: 80px;
  box-sizing: border-box;
  gap: 26px;
}

@media (width <= 768px) {
  .header-container {
    height: 70px;
    padding: 0 15px;
  }
}

.header__phone {
  display: flex;
  align-items: center;
  gap: 10px;
  white-space: nowrap;
  position: relative;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  text-align: right;
  color: #fff;
}

.header__phone::before {
  content: " ";
  position: absolute;
  z-index: -1;
  background: url(../../icons/Neuron_3top.svg) no-repeat;
  width: 668px;
  height: 324px;
  left: -733px;
  top: -150px;
  box-shadow: inset 58px 4px 191px 47px #000;
  mix-blend-mode: lighten;
}

@media (width <= 360px) {
  .header__phone::before {
    display: none;
  }
}

.header__phone-icon {
  margin-left: auto;
  padding-right: -20px;
}
