.why {
  background-color: linear-gradient(
    286.41deg,
    rgba(2, 35, 53, 0.8) 3.68%,
    rgba(12, 55, 61, 0.8) 91.42%
  );

  margin-top: 124px;
}

@media (width <= 1200px) {
}

.why__main-text-span {
  font-weight: 500;
  font-size: 54px;
  text-transform: uppercase;
  color: #4abcec;
}

.why__main-text {
  font-weight: 500;
  font-size: 54px;
  color: #fff;
  text-transform: uppercase;
  width: 776px;
  height: 126px;
  margin-bottom: 58px;
}

.why__block-1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));

  gap: 20px;
}

.why__block-card-1 {
  position: relative;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  border-radius: 20px;
  max-height: 212px;
  gap: 15px;
  background: linear-gradient(
    180deg,
    rgba(0, 224, 255, 0.11) 0%,
    rgba(0, 224, 255, 0.05) 100%
  );
  transition:
    transform 0.8s ease,
    box-shadow 0.8s ease;
}

.why__block-card-1:hover {
  transform: translateY(-6px);
  box-shadow:
    0 0 24px 0 #00e0ff3a,
    0 4px 15px 0 #4ad9ec,
    0 3px 15px 0 #4ad9ec;

  transition:
    transform 0.5s ease,
    box-shadow 0.5s ease;
}

.why__block-card-1::before {
  content: " ";
  position: absolute;
  z-index: 1;
  background: url(../../icons/why-element.svg);
  width: 63px;
  height: 32px;
  top: 92%;
  left: 30px;
  transform: translateY(0);
  opacity: 1;
  transition:
    transform 0.5s ease,
    opacity 0.5s ease;
}

.why__block-card-1:hover::before {
  transition: transform 0.5s ease;
  transform: translateY(8px);
  opacity: 0.1;
}

.why__block-1-text {
  width: 205px;
  height: 125px;
  font-weight: 500;
  font-size: 15px;
  color: #fff;
  margin-left: 42px;
  padding: 0;
}

.why__block-2 {
  display: grid;
  grid-template-columns: 387px 387px 387px;
  grid-auto-flow: column;
  gap: 20px;
}

.why__size-card {
  height: 217px;
}

.why__block-card-2 {
  position: relative;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  border-radius: 20px;
  max-height: 212px;
  gap: 15px;
  background: linear-gradient(
    180deg,
    rgba(0, 224, 255, 0.11) 0%,
    rgba(0, 224, 255, 0.05) 100%
  );
  transition:
    transform 0.8s ease,
    box-shadow 0.8s ease;
}
.why__block-card-2:hover {
  transform: translateY(-6px);
  box-shadow:
    0 0 24px 0 #00e0ff3a,
    0 4px 15px 0 #4ad9ec,
    0 3px 15px 0 #4ad9ec;

  transition:
    transform 0.5s ease,
    box-shadow 0.5s ease;
}

.why__block-card-2::before {
  content: " ";
  position: absolute;
  z-index: -1;
  background: url(../../icons/why-element.svg);
  width: 63px;
  height: 32px;
  top: 92%;
  left: 30px;
  transition:
    transform 0.5s ease,
    opacity 0.5s ease;
}

.why__block-card-2:hover::before {
  transition: transform 0.5s ease;
  transform: translateY(8px);
  opacity: 0.1;
}

.why__block-svg {
  width: 50px;
  height: 50px;
  margin: 36px 0 0 42px;
}

.why__block-2-text {
  width: 305px;
  height: 125px;
  font-weight: 500;
  font-size: 15px;
  color: #fff;
  margin: 12px 40px 7px 42px;

  padding: 0;
}

.why__blur-line {
  position: relative;
  height: 2px;
}

.why__blur-line::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  top: 150px;
  height: 2px;
  transform: translateY(-50%);
  background: rgba(135, 206, 235, 0.6);
  box-shadow:
    0 0 24px 0 #00e0ff,
    0 4px 15px 0 #4ad9ec,
    0 3px 15px 0 rgba(0, 224, 255, 0.93);
  filter: blur(2px);
  z-index: 1;
}
